* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  font-size: 62.5%;
}

html {
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  background: url(../assets/Background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

section {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 6.4rem;
  margin-inline: 1.6rem;
  padding: 6.4rem 3.2rem;
  height: 80vh;
  border-radius: 0.8rem;
  background-color: rgba(22, 22, 22, 0.9254901961);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2549019608);
}
section h1 {
  font-size: 3.2rem;
  color: #DEDEDE;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
section div {
  display: grid;
  gap: 4.8rem;
  grid-template-columns: 1fr 1fr;
}
section div button {
  font-size: 1.8rem;
  font-weight: 700;
  width: 14rem;
  background-color: transparent;
  border-radius: 100px;
  padding: 1.2rem;
  cursor: pointer;
  color: #17A600;
  border: 2px solid #17A600;
}
section div button:hover {
  box-shadow: 0px 8px 24px rgba(22, 166, 0, 0.5019607843);
}
section div .no1, section div .no2, section div .no3, section div .no4, section div .no5 {
  visibility: hidden;
  color: #AF1111;
  border: 2px solid #AF1111;
}
section div .no1:hover, section div .no2:hover, section div .no3:hover, section div .no4:hover, section div .no5:hover {
  box-shadow: 0px 8px 24px rgba(175, 17, 17, 0.568627451);
}

.show {
  visibility: visible !important;
}

.fundo {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.925);
}

img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
}

.background {
  position: absolute;
  z-index: 1;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translate3d(50vw, 10vh, 24px);
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(50vw, 10vh, 24px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.67;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  transform: translate3d(52vw, 3vh, 54px);
  background: hsl(258deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translate3d(7vw, 87vh, 17px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(7vw, 87vh, 17px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.66;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  transform: translate3d(28vw, 23vh, 45px);
  background: hsl(340deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translate3d(50vw, 22vh, 3px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(50vw, 22vh, 3px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.5;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  transform: translate3d(47vw, 86vh, 13px);
  background: hsl(75deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translate3d(77vw, 79vh, 73px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(77vw, 79vh, 73px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.92;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  transform: translate3d(80vw, 71vh, 76px);
  background: hsl(347deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translate3d(16vw, 80vh, 94px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(16vw, 80vh, 94px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.56;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  transform: translate3d(31vw, 65vh, 1px);
  background: hsl(288deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translate3d(18vw, 33vh, 84px);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(18vw, 33vh, 84px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.24;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  transform: translate3d(78vw, 87vh, 38px);
  background: hsl(245deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translate3d(33vw, 41vh, 6px);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(33vw, 41vh, 6px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.19;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  transform: translate3d(9vw, 33vh, 56px);
  background: hsl(163deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translate3d(10vw, 24vh, 37px);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(10vw, 24vh, 37px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.33;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  transform: translate3d(75vw, 21vh, 56px);
  background: hsl(192deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translate3d(32vw, 6vh, 34px);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(32vw, 6vh, 34px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.51;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  transform: translate3d(80vw, 16vh, 20px);
  background: hsl(356deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translate3d(30vw, 25vh, 16px);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(30vw, 25vh, 16px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 1;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: translate3d(6vw, 63vh, 69px);
  background: hsl(255deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translate3d(26vw, 27vh, 4px);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(26vw, 27vh, 4px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.34;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  transform: translate3d(48vw, 87vh, 65px);
  background: hsl(158deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translate3d(68vw, 22vh, 18px);
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(68vw, 22vh, 18px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.95;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  transform: translate3d(74vw, 73vh, 80px);
  background: hsl(27deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translate3d(56vw, 43vh, 91px);
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(56vw, 43vh, 91px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.99;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  transform: translate3d(32vw, 28vh, 99px);
  background: hsl(99deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translate3d(10vw, 64vh, 63px);
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(10vw, 64vh, 63px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.87;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  transform: translate3d(49vw, 64vh, 71px);
  background: hsl(100deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translate3d(31vw, 52vh, 77px);
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(31vw, 52vh, 77px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.16;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: translate3d(36vw, 38vh, 57px);
  background: hsl(124deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translate3d(20vw, 53vh, 23px);
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(20vw, 53vh, 23px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.64;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  transform: translate3d(63vw, 72vh, 1px);
  background: hsl(46deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translate3d(67vw, 56vh, 91px);
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(67vw, 56vh, 91px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.27;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  transform: translate3d(36vw, 77vh, 55px);
  background: hsl(69deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translate3d(16vw, 10vh, 82px);
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(16vw, 10vh, 82px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.65;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  transform: translate3d(60vw, 3vh, 76px);
  background: hsl(30deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translate3d(77vw, 85vh, 5px);
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(77vw, 85vh, 5px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.58;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  transform: translate3d(68vw, 52vh, 86px);
  background: hsl(258deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translate3d(65vw, 56vh, 43px);
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(65vw, 56vh, 43px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.07;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: translate3d(87vw, 50vh, 42px);
  background: hsl(199deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-21 {
  100% {
    transform: translate3d(58vw, 60vh, 33px);
  }
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(58vw, 60vh, 33px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.78;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  transform: translate3d(57vw, 6vh, 49px);
  background: hsl(357deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-22 {
  100% {
    transform: translate3d(27vw, 13vh, 70px);
  }
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(27vw, 13vh, 70px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.06;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  transform: translate3d(1vw, 63vh, 76px);
  background: hsl(6deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-23 {
  100% {
    transform: translate3d(28vw, 9vh, 69px);
  }
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(28vw, 9vh, 69px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.38;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  transform: translate3d(48vw, 22vh, 49px);
  background: hsl(14deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-24 {
  100% {
    transform: translate3d(64vw, 84vh, 28px);
  }
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(64vw, 84vh, 28px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.67;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  transform: translate3d(23vw, 25vh, 54px);
  background: hsl(294deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-25 {
  100% {
    transform: translate3d(49vw, 26vh, 69px);
  }
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(49vw, 26vh, 69px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.83;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  transform: translate3d(50vw, 12vh, 5px);
  background: hsl(284deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-26 {
  100% {
    transform: translate3d(65vw, 88vh, 37px);
  }
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(65vw, 88vh, 37px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.91;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  transform: translate3d(16vw, 14vh, 82px);
  background: hsl(77deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-27 {
  100% {
    transform: translate3d(18vw, 28vh, 45px);
  }
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(18vw, 28vh, 45px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 0.97;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  transform: translate3d(54vw, 13vh, 30px);
  background: hsl(34deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-28 {
  100% {
    transform: translate3d(70vw, 51vh, 55px);
  }
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(70vw, 51vh, 55px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 1;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  transform: translate3d(43vw, 32vh, 90px);
  background: hsl(138deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-29 {
  100% {
    transform: translate3d(43vw, 45vh, 74px);
  }
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(43vw, 45vh, 74px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.41;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  transform: translate3d(56vw, 14vh, 57px);
  background: hsl(37deg, 70%, 50%);
}

@-webkit-keyframes particle-animation-30 {
  100% {
    transform: translate3d(71vw, 31vh, 82px);
  }
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(71vw, 31vh, 82px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.45;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  transform: translate3d(74vw, 84vh, 57px);
  background: hsl(42deg, 70%, 50%);
}/*# sourceMappingURL=main.css.map */